$black     : #272822;
$white     : #f8f8f2;
$red       : #f92672;
$blue      : #66d9ef;
$green     : #a6e22e;
$yellow    : #e6db74;
$purple    : #ae81ff;
$orange    : #fd9720;
$gray      : #75715e;
$lightgray : #8f908a;